/* @import url('/Fonts/static/RobotoMono-ExtraLight.ttf'); */

@font-face {
    font-family: RobotoMono-ExtraLight;
    src: local(RobotoMono-ExtraLight),url(../Fonts/static/RobotoMono-ExtraLight.ttf);
  }

/* BODY PADRÃO */
* {
    padding: 0%;
    margin: 0%;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: RobotoMono-ExtraLight;
}

body::-webkit-scrollbar-track {
    background-color: #ef7e14;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #350c74;
}

body {
    overflow-x: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* HEADER */

.header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3a125f;
    padding: 0px 50px;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 3;
}

.logonavbar {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logonavbar img {
    width: 50px;
}

.logonavbar ul {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
}

.logonavbar ul li {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block a{
    display: flex;
    align-items: center;
}

.logonavbar ul a {
    color: #dca93f;
    text-decoration: none;
    font-size: 14px;
    width: 130%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul a:hover {
    border-bottom: solid 1px #dca93f;
}

.header .fakebutton {
    width: 127px;
    height: 28px;
    background-color:#350c74;
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    border: solid 1px #dca93f;
}

.header .fakebutton:hover {
    border-bottom: solid 2px #dca93f;
}

.btnLogCad {
    width: 25%;
    display: flex;
    justify-content: space-between;
}

/* BANNER */

.block {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    background-image: linear-gradient(240deg, #ef9c4f, #ff912b);
    border-radius: 280px 0px 280px 0px;
}

.bg {
    height: 560px;
    width: 95%;
    padding: 0 50px;
    display: flex;
}

.infobg {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0 50px;

}

.infobg h1 {
    color: whitesmoke;
    font-size: 60px;
    font-weight: 200;

}

.infobg p {
    color: whitesmoke;
    margin: 1rem 0;

}

.infobg .fakebutton {
    width: 176px;
    height: 38px;
    background-color: transparent;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.infobg .fakebutton a {
    width: 100%;
    height: 100%;
    color: #00c8ff;
    border: solid 1px #00c8ff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: .2s ease;

}


.bg img {
    height: 600px;
    width: 600px;
}

/* NOTÍCIAS */

#noticiasPosicao {
    border-radius: 280px 0px 180px 0px;
    background-image: linear-gradient(240deg, #ef9c4f, #ff912b);
    width: 100%;
    height: 100%;
}

.cabecalho {
    height: 100px;
    width: 1270px;
    background-color:#3a125f;
    display: flex;
    justify-content: center;
}

#title {
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    color: #dca93f;
}

.linha {
    height: 5px;
    background-color: #dca93f;
    width: 400px;
    display: flex;
    margin-top: 47px;
}


.bloconews {
    padding-top: 100px;
}

.noticia1 {
    width: 40%;
    background-image: url("../assets/JaMorant.jpeg");
    background-size: cover;
    background-position: center;
    float: left;
    margin-left: 100px;
    cursor: pointer;
    border-radius: 5px;
    transform: scale(1);
    transition: 0.5s;
    box-shadow:  4px 5px 5px 3px black;
}

.noticia1:hover{
    border-radius: 7px;
    transform: scale(1.05);
    transition: 0.5s;
}

.noticia2 {
    width: 40%;
    background-image: url("../assets/CavaliersXCeltics.jpeg");
    background-size: cover;
    background-position: center;
    float: right;
    margin-right: 100px;
    cursor: pointer;
    border-radius: 5px;
    transform: scale(1);
    transition: 0.5s;
    box-shadow:  4px 5px 5px 3px black;
}

.noticia2:hover{
    border-radius: 7px;
    transform: scale(1.05);
    transition: 0.5s;
}

.noticia3 {
    width: 40%;
    background-image: url("../assets/LakersXPelicans.jpg");
    background-size: cover;
    background-position: top;
    float: left;
    margin-top: 55px;
    margin-left: 100px;
    cursor: pointer;
    border-radius: 5px;
    transform: scale(1);
    transition: 0.5s;
    box-shadow:  4px 5px 5px 3px black;
}

.noticia3:hover{
    border-radius: 7px;
    transform: scale(1.05);
    transition: 0.5s;
}

.noticia4 {
    width: 40%;
    background-image: url("../assets/LukaDoncic.png");
    background-size: cover;
    background-position: center;
    float: right;
    margin-right: 100px;
    margin-top: 55px;
    cursor: pointer;
    border-radius: 5px;
    transform: scale(1);
    transition: 0.5s;
    box-shadow:  4px 5px 5px 3px black;
}

.noticia4:hover{
    border-radius: 7px;
    transform: scale(1.05);
    transition: 0.5s;
}

.noticia5 {
    width: 40%;
    background-image: url("../assets/RaptorsXspurs.jpg");
    background-size: cover;
    background-position: center;
    float: left;
    margin-top: 55px;
    margin-bottom: 30px;
    margin-left: 100px;
    cursor: pointer;
    border-radius: 5px;
    transform: scale(1);
    transition: 0.5s;
    box-shadow:  4px 5px 5px 3px black;
}

.noticia5:hover{
    border-radius: 7px;
    transform: scale(1.05);
    transition: 0.5s;
}


.noticia6 {
    width: 40%;
    background-image: url("../assets/BucksXDetroit.jpeg");
    background-size: cover;
    background-position: center;
    float: right;
    margin-right: 100px;
    margin-top: 55px;
    margin-bottom: 30px;
    cursor: pointer;
    border-radius: 5px;
    transform: scale(1);
    transition: 0.5s;
    box-shadow:  4px 5px 5px 3px black;
}

.noticia6:hover{
    border-radius: 7px;
    transform: scale(1.05);
    transition: 0.5s;
}

.manchete {
    color: #dca93f;
    margin-top: 400px;
    margin-left: 20px;
    text-shadow: 2px 2px 2px black;
}

/* MAIORES TIMES */
#times {
    border-radius: 280px 0px 280px 0px;
    background-image: linear-gradient(240deg, #ef9c4f, #ff912b);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.blocoTimes {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    margin-left: 200px;
}

p.paragrafo {
    display: flex;
    text-align: justify;
}

/* FOOTER */
.footer {
    height: 100%;
    width: 100%;
    background-color: #3a125f;
    display: flex;
}

.footer-container{
    max-width: 1170px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer-col{
    width: 70%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 20px;
    color:  #dca93f;
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline 0.1px;
}

.footer-col p{
    font-size: 16px;
    color:  #dca93f;
    margin-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}